<!-- footer -->
<div id="footer">
  <div class="">
    <a class="s-link" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="fa-brands fa-twitter"></i></a>
    <a class="s-link" href="https://www.facebook.com/people/Sid-Patra/100077311705013/"><i class="fa-brands fa-facebook-f"></i></a>
    <a class="s-link" href="https://www.instagram.com/sid_patraa/?hl=en"><i class="fa-brands fa-instagram"></i></a>
    <a class="s-link" href="https://in.linkedin.com/in/sid-patra-216576211?trk=public_profile_samename-profile"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="s-link" href="mailto:sidpatra33@gmail.com"><i class="fa-solid fa-envelope"></i></a>
  </div>

  <p class="copyright">© Copyright Sid Patra @2022</p>

</div>
</div>

</body>
<html>
