<%- include("partials/header"); -%>

<div class="search-div">
  <input class=" search form-control me-2" type="search" placeholder="Search is not working" aria-label="Search">
  <button class="search-btn  btn btn-warning " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>



  <section id="" class="container-fluid">




    <div class=" text-center movie-options">
      <h1 class="welcome">Welcome Everyone.</h1>
      <button class="btn btn-outline-light button-movies" type="button"> <a class="button-movies-link" href="/allMovies">All Movies</a></button>
      <button class="btn btn-outline-light button-movies" type="button"> Hollywood</button>
      <button class="btn btn-outline-light button-movies" type="button"> Bollywood</button>
      <button class="btn btn-outline-light button-movies" type="button"> Bengali</button>
      <button class="btn btn-outline-light button-movies" type="button"> Anime</button>
      <button class="btn btn-outline-light button-movies" type="button"> Animation 3D</button>
    </div>


<section class="best-collection">
     <h1 class="top-movie-title"> Today's Best Collection.</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="image/weatherman.png" class=" img-fluid todays-best-image d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="image/spider2.png" class="img-fluid todays-best-image d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="image/moonfall.png" class="img-fluid todays-best-image d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="image/spider.png" class="img-fluid todays-best-image d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="image/freak.png" class="img-fluid todays-best-image d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<!--                ''''''                    Telegram           ...................         -->

  </section>

  <div class="teligram">
    <img class="teligram-img"src="https://media0.giphy.com/media/EuMes40JZirYe18nYY/giphy.webp?cid=ecf05e47zbadimkeum90ot3rhq73ak7ib2z9p3bqhnkhcy1a&rid=giphy.webp&ct=s" alt="">
    <h2 class = teligram-title>Join our Telegram channel</h2>
    <button class="btn btn-outline-light button-movies" type="button">     <i class="fa-brands fa-telegram"></i>Join</button>

  </div>

<hr>
  <!-- .......................Report..................... -->
<div class="h-p-data">


<div class="report">

  <h2 class = "report-title">Report</h2>
  <p class="report-description">If any links are not working report us. <p/><p class="report-description">Clicking a hyperlink in a document, email message or Web page should automatically launch the computer’s default Web browser and open the linked page or online resource. If the hyperlink doesn’t work correctly. Thank You!</p>

<hr>
</div>

<!-- ......................Request..................... -->

<div class="request">

<h2 class = "request-title">Request For Movie</h2>
<p class="request-description">Can't find what you're looking for? Please fill in as much information as you can and we will do our best to track down the title you are looking for.</p>


</div>
</div>
<!-- ...............................footer.............................. -->

<%- include("partials/footer"); -%>
